.header{
    margin-bottom: 20px;
    text-align: center;
    }
    
    .suggestion-list {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-top: 20px;
      }
      
      .suggestion-item {
        padding: 8px;
        cursor:pointer;
        
      }
    
      .suggestion-item>a{
        text-decoration: none;
      }
      
      .even {
        background-color: #e3c7e2;
      }
      
      .odd {
        background-color: #eeddee;
      }
      